* {
	padding: 0;
	margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: table;
}

.container-vertical {
  height: 900px;
  display: table-cell;
  vertical-align: middle;
}

.container-data {
  width: 1600px;
  height: 836px;
}

.container-horizontal {
  height: 900px;
  width: 1600px;
  margin: auto;
}

.container-data {
  height: 836px;
  width: 1600px;
}

.container-events , .log, .highlights {
  height: 836px;
  display: inline-block;
  vertical-align: top;
}

.container-events, .highlights {
  width: 400px;
}

.log {
  width: 800px;
}

.footer-padding {
  padding-bottom: 32px;
}

header, footer {
  width: 1600px;
  height: 32px;
}

.events {
  height: 400px;
  width: 400px;
}

.alarms {
  width: 400px;
  height: 436px;
}

.log {
  width: 800px;
}

