body {
	font-family: 'Roboto Condensed';
	font-size: 14px;
}

header, footer {
  background-color: grey;
  clear: left;
  text-align: center;
}

.events {
  background-color: orange;
}

.alarms {
  background-color: red;
}

.highlights {
  background-color: blue;
}

.container-data {
  background-color: green;
}
